
header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: purple;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;;
  }


 /* #menu {
    display: flex; 
    /* flex-direction: row; 

} */

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1 {
    margin: 15px 0 15px 0;
    text-align: center;
    /* font-family: Verdana, sans-serif; */
    font-size: 32px;
    font-weight: bold;
  }

main {
    display: flex;
    flex-direction: column;
    margin: 5px auto 5px auto;
    width: 40%;
}
main h2 {
    color: purple;
    text-align: center;
    font-weight: bold;
}

.featured {
    /* display: block; */
    text-decoration: none;
    color:orangered;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    /* margin: 10px; */
    /* text-align: center; */
}


.item {
    display: flex;
    margin: 5px;
}
/* .item a img {
    max-width: 100px;
} */
.smallPhoto {
    width: 100px;
    height: 100px;
    padding: 2px;
}
.itemDescription {
    border: orangered solid 1px;
    padding: 2px;
    margin-left: 2px;
}

.formItem {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
.formLabel {
    color: blue;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    flex-basis: 30%;
    padding:2px;
}
.formInput {
    flex-basis: 65%;
    /* border-color: lightskyblue;
    border-width: 1px; */
    border:2px solid lightskyblue;
    padding: 5px;
}
.formInput[type=checkbox] {
    flex-basis: 20px; 
     /* outline: 2px solid lightskyblue;  */
    /* justify-content: flex-start; */
    /* flex-shrink: 0;
    flex-grow: 0; */
}

.submit {
    display: flex;
    justify-content: center;
}

#msg {
    display: none;
    border: 1px double #808080;
    padding: 2px;
}

.directions p {
    border-bottom: 3px solid lightskyblue;
    color: lightskyblue;
    padding: 4px;

}
footer {
    text-align: center;
    color: lightgrey;
    margin-top: 20px;
}